<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
   {% if latest_question_list %}
        <ul>
        {% for questao in latest_question_list %}
            <li>
                <a href="{% url 'votacao:detalhe' questao.id %}">{{ questao.questao_texto }}
                </a><br><br>
            </li>
            <li>
                Criar nova questão <a href="{% url 'votacao:criar_questao' %}">aqui
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Não há questões disponíveis.</p>
    {% endif %}
</body>
</html>