<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
   {% if latest_question_list %}
        {% for questao in latest_question_list %}
        <ul>
            <li>
                <a href="{% url 'votacao:detalhe' questao.id %}">{{ questao.questao_texto }}
                </a><br><br>
            </li>
        </ul>
        {% endfor %}
                <a href="{% url 'votacao:criarquestao' %}">Criar nova Questão
                </a><br><br>
                <a href="{% url 'votacao:apagarquestao' %}">Apagar esta Questão
                </a><br><br>
                <a href="{% url 'votacao:apagaropcao' %}">Apagar uma Opção
                </a><br><br>
    {% else %}
        <p>Não há questões disponíveis.</p>
    {% endif %}
</body>
</html>