<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sessão</title>
</head>
<body>
    <form action="{% url 'votacao:loginview'%}" method="post">
        {% csrf_token %}
        <div>
          <h1>INICIAR SESSÃO</h1>
          <label for="username"><strong>Username</strong></label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <br><br>
            <label for="password"><strong>Password</strong></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <br><br>
          </div>
          <button type="submit"><strong>INICIAR SESSÃO</strong></button>
    </form>
</body>
</html>