<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apagar Opção</title>
</head>
<body>
    <h1>{{ questao.questao_texto }}</h1>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <form action="{% url 'votacao:apagaropcao' questao.id %}" method="post">
        {% csrf_token %}
        {% for opcao in questao.opcao_set.all %}
            <input type="radio" name="opcao" id="opcao{{ forloop.counter }}" value="{{ opcao.id }}" />
            <label for="opcao{{ forloop.counter }}">{{ opcao.opcao_texto }}</label>
            <br>
        {% endfor %}
        <br>
        <input type="submit" value="Apagar Opção selecionada" />
    </form>
    <br>
</body>
</html>