<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
</head>
<body>
<div>
    {% if request.user.is_authenticated %}
        <h2>BEM-VINDO!</h2>
        <form action="{% url 'votacao:logoutview' %}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{request.user.username}}" readonly>
            <br><br>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" value="{{request.user.email}}" readonly>
            <br><br>
            <label for="curso">Curso:</label>
            <input type="text" id="curso" name="curso" value="{{request.user.course}}" readonly>
            <br><br>
            <input type="submit" value="TERMINAR SESSÃO">
        </form>

    {% endif %}
</div>
</body>
</html>