<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
</head>
<body>
<div>
    {% if request.user.is_authenticated %}
        <h2>BEM-VINDO!</h2>
        <p>{{request.user.username}}</p>
        <p>{{request.user.email}}</p>
        <p>{{request.user.course}}</p>
        <form action="{% url 'votacao:logoutview' %}">
            <input type="submit" value="TERMINAR SESSÃO">
        </form>

    {% endif %}
</div>
</body>
</html>