table {
	background-color: navy;
}

body {
	background-color: #FFD8DA;
}

h1 {
	font-family: Georgia;
	text-align: center;
}

hr {
	height:8px;
	border-width:0;
	color:#000000;
	background-color:#000000;
}

p {
	text-align:center;
}

h2 {
	font-family: Georgia;
	text-align: center;
}

ul {
	list-style-type:none;
	font-family: Georgia;
	text-align: center;
}

h4 {
	font-family: Georgia;
	text-align: right;
}

