table {
	border: 1px solid black;
  	border-collapse: separate;
  	font-family: Georgia;
  	width: 100%;
  	margin-left: auto;
  	margin-right: auto;
}

body {
	background-color: #FFD8DA;
}

h1 {
	font-family: Georgia;
	text-align: center;
}

hr {
	height:8px;
	border-width:0;
	color:#000000;
	background-color:#000000;
}

p {
	text-align:center;
}

h2 {
	font-family: Georgia;
	text-align: center;
}

ul {
	list-style-type: none;
	font-family: Georgia;
	text-align: center;
}

#yellow {
	background-color:#FDB804;
	font-family: Georgia;
	text-align: center;
}

#blue {
	background-color:#5DF7FE;
	font-family: Georgia;
	text-align: center;
}

#pink {
	background-color:#FE97A8;
	font-family: Georgia;
	text-align: center;
}

h4 {
	font-family: Georgia;
	text-align: right;
}

