<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block titulo %} Lista de perguntas {% endblock %} </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'votacao/css/estilos.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div>
        {% if request.user.is_authenticated %}
            <button onmouseover="show()" id="btn" onmouseout="hide()">{{request.user.username}} tem a sessão iniciada</button>
            <script>
                function show() {
                    document.getElementById('userimage').style.display = "block";
                }
                function hide() {
                    document.getElementById('userimage').style.display = "none";
                }
            </script>
        <br>
        <br>
        <center><img id="userimage" src="{{ uploaded_file_url }}" style="display:none;"></center>
    </div>
        {% else %}
            <p>O utilizador não tem a sessão iniciada</p>
            <a href="{% url 'votacao:registar' %}">Registar</a>

            <a href="{% url 'votacao:iniciarsessao' %}">Iniciar Sessão</a>
        {% endif %}
    </div>
    <br>
    {% block body %}
        <button id="botaoQuestoes" onclick="listaQuestoes()">
            Mostrar lista de Questões
        </button>
    <div id="questoes">
        <script>
            const botaoQuestoes = document.getElementById('botaoQuestoes');
            botaoQuestoes.addEventListener('click', function handleClick() {
                if (botaoQuestoes.textContent == 'Esconder lista de Questões') {
                    botaoQuestoes.textContent = 'Mostrar lista de Questões';
                } else {
                    botaoQuestoes.textContent = 'Esconder lista de Questões'
                }
              });
            function listaQuestoes() {
              var x = document.getElementById("questoes");
              if (x.style.display === "none") {
                x.style.display = "block";
              } else {
                x.style.display = "none";
              }
            }
        </script>
        <script>
            $(document).ready(function() {
                $('#questoes').hide();
            });
        </script>
       {% if latest_question_list %}
        {% for questao in latest_question_list %}
        <ul>
            <li>
                <a href="{% url 'votacao:detalhe' questao.id %}">{{ questao.questao_texto }}
                </a><br><br>
            </li>
        </ul>
        {% endfor %}
                <a href="{% url 'votacao:view_questao_otimizada'%}">Criar nova Questão</a>
                <br><br>
    {% else %}
        <p>Não há questões disponíveis.</p>
    {% endif %}

    </div>
    <div>
        {% if request.user.is_authenticated %}
            <p><a href="{% url 'votacao:perfil' %}"/>O teu perfil</p>
        {% endif %}
    </div>
{% endblock %}

{% block homepage %}
{% endblock %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js”></script>
</body>
</html>