{% extends "./secondbase.html" %}

{% block titulo %} Registo {% endblock %}

{% block body %}

<form id="form1" action="{% url 'votacao:registar'%}" method="post">
    {% csrf_token %}
    <div>
      <h1>REGISTAR</h1>
      <label for="username"><strong>Nome de utilizador</strong></label>
        <input type="text" placeholder="Introduzir nome de utilizador" name="username" required>
        <br><br>
        <label for="email"><strong>E-mail</strong></label>
        <input type="text" placeholder="Introduzir e-mail" name="email" required>
        <br><br>
        <label for="password"><strong>Palavra-passe</strong></label>
        <input type="password" placeholder="Introduzir palavra-passe" name="password" required>
        <br><br>
        <label for="course"><strong>Curso</strong></label>
        <input type="text" placeholder="Introduzir curso" name="course" required>
        <br><br>
      </div>
      <button type="submit"><strong>REGISTAR</strong></button>
</form>
   <br>
   <br>

{% endblock %}