{% extends "./secondbase.html" %}

{% block titulo %} Resultados {% endblock %}

{% block body %}

    <h1>{{ questao.questao_texto }}</h1>
    <form action="{% url 'votacao:detalhe' questao.id %}" method="post">
        {% csrf_token %}
        <ul>
        {% for opcao in questao.opcao_set.all %}
        <li>{{ opcao.opcao_texto }} -- {{ opcao.votos }} voto{{ opcao.votos|pluralize }}</li>
        {% endfor %}
        </ul>
        <input type="submit" value="Votar novamente?"/>
    </form>
    <br>
    <br>

{% endblock %}