{% extends "./index.html" %}

{% block titulo %} Questão {% endblock %}

{% block body %}

    <h1>{{ questao.questao_texto }}</h1>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <form id="form1" action="{% url 'votacao:voto' questao.id %}" method="post">
        {% csrf_token %}
        {% for opcao in questao.opcao_set.all %}
            <input type="radio" name="opcao" id="opcao{{ forloop.counter }}" value="{{ opcao.id }}" />
            <label for="opcao{{ forloop.counter }}">{{ opcao.opcao_texto }}</label>
        <br>
        <br>
        {% endfor %}
        <br>
        {% if request.user.is_authenticated %}
            <input type="submit" value="Voto" />
        {% endif %}
    </form>
    <br>
    {% if request.user.is_authenticated and request.user.is_superuser %}

        <form action="{% url 'votacao:novaopcao' questao.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Criar nova Opção" />
        </form>
        <br>
        <br>
        <form action="{% url 'votacao:apagarquestao' questao.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Apagar esta Questão" />
        </form>
        <br>
        <br>
        <button type="submit" form="form1" formaction="{% url 'votacao:apagaropcao' questao.id %}">Apagar Opção selecionada</button>
    {% endif %}
    <br>
    <a href="{% url 'votacao:index' %}">Voltar à página inicial</a>

{% endblock %}