<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block titulo %} Lista de perguntas {% endblock %} </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'votacao/css/estilos.css' %}">
</head>
<body>
<div>
    {% if request.user.is_authenticated %}
        <p>{{request.user.username}} tem a sessão iniciada</p>
    {% else %}
        <p>O utilizador não tem a sessão iniciada</p>
        <a href="{% url 'votacao:registar' %}">Registar</a>

        <a href="{% url 'votacao:iniciarsessao' %}">Iniciar Sessão</a>
    {% endif %}
</div>
{% block body %}
<div>

       {% if latest_question_list %}
        {% for questao in latest_question_list %}
        <ul>
            <li>
                <a href="{% url 'votacao:detalhe' questao.id %}">{{ questao.questao_texto }}
                </a><br><br>
            </li>
        </ul>
        {% endfor %}
                <a href="{% url 'votacao:criarquestao' %}">Criar nova Questão</a>
                <br><br>
    {% else %}
        <p>Não há questões disponíveis.</p>
    {% endif %}

</div>
<div>
    {% if request.user.is_authenticated %}
        <p><a href="{% url 'votacao:perfil' %}"/>O teu perfil</p>
    {% endif %}
</div>
{% endblock %}
</body>
</html>