{% extends "./index.html" %}

{% block titulo %} Iniciar Sessão {% endblock %}

{% block body %}

    <form action="{% url 'votacao:iniciarsessao' %}" method="post">
        {% csrf_token %}
        <div>
          <h1>INICIAR SESSÃO</h1>
          <label for="username"><strong>Nome de utilizador</strong></label>
            <input type="text" placeholder="Introduzir nome de utilizador" name="username" required>
            <br><br>
            <label for="password"><strong>Palavra-passe</strong></label>
            <input type="password" placeholder="Introduzir palavra-passe" name="password" required>
            <br><br>
          </div>
          <button type="submit"><strong>INICIAR SESSÃO</strong></button>
          <button type="submit" formaction="{% url 'votacao:index' %}">Voltar à página inicial</button>
    </form>

{% endblock %}