{% extends "./secondbase.html" %}

{% block titulo %} Perfil {% endblock %}

{% block body %}

<div>
    {% if request.user.is_authenticated %}
        <h2>BEM-VINDO!</h2>
        <form action="{% url 'votacao:logoutview' %}">
            <label for="username">Nome de utilizador:</label>
            <input type="text" id="username" name="username" value="{{request.user.username}}" readonly>
            <br><br>
            <label for="email">E-mail:</label>
            <input type="text" id="email" name="email" value="{{request.user.email}}" readonly>
            <br><br>
            <label for="curso">Curso:</label>
            <input type="text" id="curso" name="curso" value="{{request.user.aluno.course}}" readonly>
            <br><br>
            <form method="post" enctype="multipart/form-data" action="{% url 'votacao:fazer_upload' %}">
                {% csrf_token %}
                <input type="file" name="myfile">
                <input type="submit" value="Upload">
            </form>
            {% if uploaded_file_url %}
                <p>Feito o upload para:
                    <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a>
                </p>
            {% endif %}
            <br><br>
            <input type="submit" value="TERMINAR SESSÃO">
            <button type="submit" formaction="{% url 'votacao:index' %}">Voltar à página inicial</button>
        </form>

    {% endif %}
</div>

{% endblock %}